
<!-- form stuff--> 
<div class="well">
<div class="container">
You are not logged in.
<form action="auth" method="post" class="form-inline">	
	<div class="form-groupsdf has-error">
		<label for="element-1" class="sr-only"> This is the text of the label</label>
		<input type="text" id="element-1" name="Name" class="form-control" placeholder="enter uid">
		<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
		<p class="help block"> Please enter a valid user id</p>
	</div><!-- ends form group class-->
	
	<div class="form-groupsdf has-error">
		<label for="element-2" class="sr-only"> This is the text of the label</label>
		<input type="password" id="element-2" name="Password" class="form-control" placeholder="password">
		<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
		<p class="help block"> Please enter a valid password</p>
		<div class="checkbox">
			<label for=""><input type="checkbox"> Remember me</label>
		</div>
	</div>
	<input type="submit" class="btn btn-primary" value="Login"> 
	<hr>
	</form>
</div>
	</div>	
