<!-- this is the layout --> 
		<div class="container">
			<section>
			<div class=homepage"page-header" id="#">
			 		<h2> Homepage </h2>
			 	

			</div> <!-- Header tag is closed -->
			<div class-"row">
				<div class="col-lg-4">
					<blockquote>
					<p> <Strong>What do we do?</Strong></p>
					<p> PlantWorld produce software for logging plant releated data from reserves all over the uk. We allow you to carry on your passion for researching and contributing data to the PlantWorld Community. Not only do we hope the Android is easy to use, but also the presentation of our website is satsafcotry too, as it's all part of the package.</p>
				</blockquote>

				</div> <!-- layout itself-->


				<div class="col-lg-4">
					<blockquote>
					<p><Strong>Why us?</Strong></p>
					<p>Although this is the first time we've produced an Android applicaiton, we feel that as a team, we work strongly together and offer a well defined and intergrated Android experience.</p>
				</blockquote>

				</div> <!-- layout itself-->

				<div class="col-lg-4">
					<blockquote>
					<p><Strong>What we hope to offer you</Strong></p>
					<p>We're hopefully offering you an easy to use interface which you enjoy using and carry on to use for exploring reserves. Not only that, but we hope the website is satasfactory to use and easy on the eye. As there's nothing worse than a dull user interface</p>
				</blockquote>

				</div> <!-- layout itself-->


			</div> <!-- row is ended--> 

			</section>

			</div>
	
		</section >

			<!-- organising text and image section--> 
			<div class="container">
				<seciton> 
					<div class="page.header" id="">
						<h2> Application Features </h2>
					</div>	

					<div class="row">
						<div class="col-lg-8">
					      <h3> Features</h3> 
					      <blockquote>
					      <p> - GPS: No, you don't need to manually enter your location when at a Reserve, our application tracks your location using grid refrencing. 
					      Pretty cool, huh?</p>
					      <p> - You're able to upload photo's of the speices and the surroundings, so not only do we have the location. We'll also have a photo of your location as well as an image of the plant iself</p>
					      <p> - We have session management, this allows you as a user to edit, delete, update or create a new session in the app.</p>
					      <p>- You're able to view your sessions on the website, as well as other sessions from the Community, which again is neat.</p>
					      <p>The last feature is we hope you enjoy the software experience and exploring reserves, that's us thank you</p>



					  </blockquote>
					  <footer> - PlantWorld</footer>
						</div> 
						
						<div class="col-lg-4">
							<img src="sessionapp.jpg" class="imag.responsive" alt="app_image">
						</div> <!-- ends layout for images-->

					</div><!-- div row-->

					<!--<div class="row">
						<div class-"col -lg-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<span class="glyphicon glyphicion -start"></span>
									<h4>heading for indepth app info</h4>
									<p></p> 

								</div>	
							</div>

					</div>	<!-- end layout--->

					<!-- this code creates side by side boxes, for information. this may be handy-->
			<!--		<div class-"col -lg-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<h4></h4>
									<p></p> 

								</div>	
							</div>

					</div>
				</div> <!-- end row-->



			</section>	
          </div> <!-- end of container--> 
          <hr> <!-- spacing--> 

          <!-- this will be sub boxes for the app--> 

          <div class="row">
          	<div class="col -lg-4">
          		<div class="panel panel -default">
          			<div class="panel-body">

          			</div>
          		</div>
          	</div> <!-- ends layout-->
         </div> <!-- ends row-->  	 		


